/**
 * 1. Change the default font family in all browsers.
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ================================================================================================================================== */
   html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
  }
  /* Sections
   ================================================================================================================================= */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article, aside, footer, header, nav, section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ================================================================================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
 figcaption, figure, main {
   /* 1 */
   display: block;
 }
 
 /**
  * Add the correct margin in IE 8.
  */
 figure {
   margin: 1em 40px;
 }
 
 /**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */
 hr {
   box-sizing: content-box;
   /* 1 */
   height: 0;
   /* 1 */
   overflow: visible;
   /* 2 */
 }
 
 /**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
 pre {
   font-family: monospace, monospace;
   /* 1 */
   font-size: 1em;
   /* 2 */
 }

/* Text-level semantics
   ================================================================================================================================= */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
 a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active, a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b, strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   =================================================================================================================================== */
   .trans-page {
    background-color: black;
    color: white;
    margin: 0;
    }
           
    /**
     * Add the correct display in IE 9-.
     */
    audio, video {
      display: inline-block;
    }
    
    /**
     * Add the correct display in iOS 4-7.
     */
    audio:not([controls]) {
      display: none;
      height: 0;
    }
    
    /**
     * Remove the border on images inside links in IE 10-.
     */
    img {
      border-style: none;
    }
    
    /**
     * Hide the overflow in IE.
     */
    svg:not(:root) {
      overflow: hidden;
    }

/* Forms
   ================================================================================================================================= */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
 button, input, optgroup, select, textarea {
   font-family: sans-serif;
   /* 1 */
   font-size: 100%;
   /* 1 */
   line-height: 1.15;
   /* 1 */
   margin: 0;
   /* 2 */
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 button, input {
   /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 button, select {
   /* 1 */
   text-transform: none;
 }
 
 /**
  * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
  *    controls in Android 4.
  * 2. Correct the inability to style clickable types in iOS and Safari.
  */
 button, html [type=button], [type=reset], [type=submit] {
   -webkit-appearance: button;
   /* 2 */
 }
 
 /**
  * Remove the inner border and padding in Firefox.
  */
 button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }
 
 /**
  * Restore the focus styles unset by the previous rule.
  */
 button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
   outline: 1px dotted ButtonText;
 }
 
 /**
  * Change the border, margin, and padding in all browsers (opinionated).
  */
 fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em;
 }
 
 /**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
 legend {
   box-sizing: border-box;
   /* 1 */
   color: inherit;
   /* 2 */
   display: table;
   /* 1 */
   max-width: 100%;
   /* 1 */
   padding: 0;
   /* 3 */
   white-space: normal;
   /* 1 */
 }
 
 /**
  * 1. Add the correct display in IE 9-.
  * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
 progress {
   display: inline-block;
   /* 1 */
   vertical-align: baseline;
   /* 2 */
 }
 
 /**
  * Remove the default vertical scrollbar in IE.
  */
 textarea {
   overflow: auto;
 }
 
 /**
  * 1. Add the correct box sizing in IE 10-.
  * 2. Remove the padding in IE 10-.
  */
 [type=checkbox], [type=radio] {
   box-sizing: border-box;
   /* 1 */
   padding: 0;
   /* 2 */
 }
 
 /**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
 [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
   height: auto;
 }
 
 /**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
 [type=search] {
   -webkit-appearance: textfield;
   /* 1 */
   outline-offset: -2px;
   /* 2 */
 }
 
 /**
  * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
  */
 [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
   -webkit-appearance: none;
 }
 
 /**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
 ::-webkit-file-upload-button {
   -webkit-appearance: button;
   /* 1 */
   font: inherit;
   /* 2 */
 }

/* Reset default margin and padding */
body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set font and background color */
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  /*for the utility bar at the very top*/
    /*color border and word for the utility bar*/
    .utility-bar {
    background-color: #000000;
    border-bottom: 1px solid #000000;
    position: relative;
    z-index: 706;
    }

    @media screen and (max-width: 1023px) {
      .utility-bar{
        display: none;
      }
    }

    .utility-bar-full-width .utility-bar_content{
      width: 100%;
      max-width: 100%;
    }

    .utility-bar_content-right .selectors-form_item {
      margin-left: 1.25rem;
    }

    .utility-bar_content-right .shopify-localization-form {
      margin-bottom: 0;}

    .utility-bar .soccial-link, .utility-bar_menu-link{
      color: #ffffff;
    }
      /**/
    .utility-bar .disclosure_toggle {
      --disclosure-toggle-text-color: #ffffff
      --disclosure-toggle-background-color: #000000
    }
      /**/
    .utility-bar .disclosure_toggle:hover{
      --disclosure-toggle-text-color: #00a6d6
    }

    .utility-bar .soccial-link:hover, .utility-bar_menu-link:hover{
      color: #00a6d6;
    }
      /**/
    .utility-bar .disclosure_toggle::after{
      --disclosure-toggle-svg-color: #ffffff
    }

.utility-bar_menu-link{
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-right: 1.25rem;
  font-size: var(--font-size-body-smallest);
  text-decoration: none;
}

a{
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

  .utility-bar_content{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding-top: 0.46875rem;
    padding-bottom: 0.46875rem;
  }
  .utility-bar_content-left{
    justify-content: flex-start;
    margin-right: auto;
  }

  .utility-bar_content-right{
    justify-content: flex-end;
    margin-left: auto;
  }

  .utility-bar_content-left, .utility-bar_content-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .utility-bar_social-list {
    display: flex;
    align-content: center;
  }

  .utility-bar_social-list .social-link {
    width: auto;
    margin-left: 0;
  }

  .utility-bar_social-list .social-link::before {
    content: none;
  }

  /*-----*/
  site-mobile-nav .utility-nav-below {
    padding-bottom: 0;
  }

  /*utility bar for mobile*/
  .utility-bar_mobile{
    display: none;
  }

  .utility-bar_social-container-mobile {
    padding: 0 25px;
  }

  .utility-bar_mobile-disclosure{
    display: none;
  }

  .utility-bar_disclosure-mobile {
    padding: 0.703125rem 25px;
  }

  .utility-bar_disclosure-mobile .shopify-localization-form {
    justify-content: left;
    margin-bottom: 0;
  }

  .mobile-nav-content .utility-bar_mobile-nav .navmenu > .navmenu-item > .navmenu-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: var(--font-size-body-smaller);
    font-weight: 400;
  }

  .utility-bar__mobile-disclosure .utility-bar__mobile__border {
    display: block;
    margin: 25px 25px 0 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  
/*header section*/
  /*site header*/
.site-header-sticky .site-header{
  position: sticky;
  top: 0;
}

.site-header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 700;
}

.search-takeover-active .site-header{
  visibility: hidden;
}

.mobile-search-takeover-active .site-header{
  z-index: 701;
}
  /*site header wrapper*/
.site-header-warpper{
  position: relative;
  width: 100%;
  color: #1d1d1d;
  background-color: rgb(255,255,255);

  transition: top 150ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 700;
}
.site-header-warpper{
  box-shadow: 0 1px 4px rgba(128, 128, 128, 0.25);
}

.site-header-warpper .site-header-warpper-no-shadow{
  box-shadow: none;
}

  /*site header main*/
  .site-header-main{
    position: relative;
    z-index: 100;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255,255,255);

    transition: padding 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and(min-width: 680px) {
    .site-header-main{
      display: flex;
      align-items: flex-start;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  @media screen and(min-width: 720) {
    .site-header-main{
      padding-right: 5px;
      padding-left: 5px;
    }
  }

  @media screen and(min-width:1024px) {
    .site-header-main{
      align-items: center;
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  
  .site-header-sticky-scrolled .site-header-main{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  }

  .site-header-main .site-header-full-width{
    width: 100%;
    max-width: 100%;
  }

  @media screen and (max-width: 719px) {
    .site-header-main[data-site-header-mobile-search-button] .live-search:not(.live-search--takeover) {
      display: none;
    }
  }
  @media screen and (min-width: 680px) {
    .site-header-main .live-search {
      flex: 1 1 auto;
      margin-top: 0;
      margin-right: 0.46875rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .site-header-main .live-search {
      margin-right: 2.5rem;
    }
  }
/*------------------------------------*/
  .site-header-main-content{
    margin-right: auto;
    margin-left: auto;
    font-size: 0;
    transition: margin 150ms cubic-bezier(0, 0, 0.2, 1);
  }

  @media screen and (min-width: 680px) {
    .site-header-main-content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex: 1 1 auto;
      margin: 0;
    }
  }
  @media screen and (min-width: 1024px) {
    .site-header-main-content {
      flex-wrap: nowrap;
      justify-content: center;
      margin-right: 2.5rem;
      margin-left: 15px;
    }
    .site-header-sticky-scrolled .site-header-main-content {
      margin-left: 50px;
    }
  }

/*site header right part*/
@media screen and (min-width: 1024px) {
  .site-header-right {
    display: flex;
    height: 46px;
  }
}


  /*site header logo*/
  .site-header-logo {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    vertical-align: middle;
  }
  @media screen and (max-width: 679px) {
    .site-header-logo {
      display: table;
      min-height: 46px;
    }
    [data-site-header-mobile-search-button] .site-header-logo {
      max-width: calc((
              50% - 77px
            ) * 2);
    }
  }
  @media screen and (min-width: 680px) {
    .site-header-logo {
      flex: 0 0 auto;
      margin: 0 0.9375rem 0 calc(0.9375rem - 0.625rem);
    }
  }
  @media screen and (max-width: 719px) {
    .site-header-logo {
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 1024px) {
    .site-header-logo {
      display: inline-block;
      height: auto;
      margin-right: 25px;
      margin-left: 0;
      text-align: left;
    }
  }



/*logo*/
  /*site logo*/
.site-logo {
  display: block;
  max-width: 100%;
  color: currentColor;
  text-decoration: none;
  max-width: 150px;
}
@media screen and (max-width: 679px) {
  .site-logo {
    display: table-cell;
    vertical-align: middle;
  }
}
@media screen and (min-width: 680px) {
  .site-logo {
    max-height: none;
  }
}
@media screen and (min-width: 1024px) {
  .site-logo {
    display: inline-block;
    margin-left: 0;
  }
}

/*site logo image*/
.site-logo-image {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-height: 70px;
}

@media screen and (min-width: 1024px) {
  .site-logo-image {
    display: inline-block;
    margin-left: 0;
  }
}

/*site logo text*/
.site-logo-text {
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-body);
  display: block;
  width: 100%;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: none;
  word-break: break-word;
}

/*site header menu*/

.site-header-menu-toggle,
.site-header-mobile-search-button,
.site-header-cart {
  position: absolute;
  top: 10px;
  bottom: auto;
  z-index: 125;
  display: inline-block;
  height: 46px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

@media screen and (min-width: 1024px) {
  .site-header-menu-toggle,
.site-header-mobile-search-button,
.site-header-cart {
    top: 50%;
    bottom: 66px;
    margin-top: -18px;
  }
  .site-header-sticky-scrolled .site-header-menu-toggle,
.site-header-sticky-scrolled .site-header-mobile-search-button,
.site-header-sticky-scrolled .site-header-cart {
    margin-top: -23px;
  }
}

.site-header-menu-toggle-button,
.site-header-mobile-search-button-button,
.site-header-cart-button {
  display: inline-block;
  padding: 10px;
  color: #1d1d1d;
}
.site-header-menu-toggle-button_svg,
.site-header-mobile-search-button--button_svg,
.site-header-cart--button_svg {
  display: block;
}

.site-header-menu-toggle {
  left: 0px;
  padding: 0;
}
@media screen and (max-width: 1023px) and (min-width: 680px) {
  .site-header-menu-toggle {
    position: relative;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .site-header-menu-toggle {
    left: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 125ms cubic-bezier(0, 0, 0.2, 1) 100ms;
  }
  .animating .site-header-menu-toggle {
    visibility: visible;
  }
  .site-header-sticky-scrolled .site-header-menu-toggle {
    opacity: 1;
    visibility: visible;
  }
}
.site-header-menu-toggle.active .toggle-icon-bar-top {
  transform: rotate(45deg);
}
.site-header-menu-toggle.active .toggle-icon-bar:nth-child(2) {
  opacity: 0;
}
.site-header-menu-toggle.active .toggle-icon-bar-bottom {
  transform: rotate(-45deg);
}

.site-header-menu-toggle-button {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
}
.site-header-menu-toggle-button:focus {
  outline: none;
}
.site-header-menu-toggle-button .toggle-icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #1d1d1d;
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 1px;
}
.site-header-menu-toggle-button .toggle-icon-bar + .toggle-icon-bar {
  margin-top: 5px;
}
.site-header-menu-toggle-button .toggle-icon-bar.toggle-icon-bar-middle {
  transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*site header mobile*/
.site-header-mobile-search-button[data-animation="visible=>hidden"] {
  transition: opacity 200ms cubic-bezier(0.6, 0.05, 0.01, 0.99), transform 200ms cubic-bezier(0.6, 0.05, 0.01, 0.99);
}
.site-header-mobile-search-button[data-animation="hidden=>visible"] {
  transition: opacity 200ms cubic-bezier(0.6, 0.05, 0.01, 0.99), transform 200ms cubic-bezier(0.6, 0.05, 0.01, 0.99);
}
.site-header-mobile-search-button[data-animation-state=hidden] {
  opacity: 0;
  transform: scale(0.5);
}
  /*site header mobile search button*/
  .site-header-mobile-search-button {
    left: 42px;
    padding: 0;
  }
  @media screen and (min-width: 720px) {
    .site-header-mobile-search-button {
      display: none;
    }
  }
  
  .site-header-mobile-search-button-button {
    padding-top: 11px;
    padding-right: 6px;
    padding-bottom: 11px;
    padding-left: 6px;
    background-color: transparent;
  }
  .site-header-mobile-search-button-button-svg {
    width: 23px;
    height: 24px;
  }
  .site-header-mobile-search-button-button:focus {
    outline: none;
  }

/*site header cart*/
.site-header-cart {
  right: 0px;
  display: flex;
  align-items: center;
  width: 50px;
  transition: right 150ms cubic-bezier(0.4, 0, 0.2, 1), top 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1023px) and (min-width: 680px) {
  .site-header-cart {
    position: relative;
    top: 0;
    right: 0;
    flex: 0 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .site-header-cart {
    right: 15px;
  }
}
.site-header-cart-svg {
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*small promo*/
  /*-----------*/
  @media screen and (min-width: 1024px) {
    .small-promo-enabled {
      margin-right: 2.5rem;
    }
  }
  
  .small-promo {
    font-size: var(--font-size-body-smaller);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #1d1d1d;
    text-decoration: none;
    transform: translate3d(0, 0, 0) scale(1);
  }
  @media screen and (max-width: 719px) {
    [data-site-header-mobile-search-button] .small-promo {
      margin-top: 10px;
      border-top: 1px solid rgba(29, 29, 29, 0.2);
    }
  }
  @media screen and (min-width: 680px) {
    .small-promo {
      width: 100%;
    }
  }
  @media screen and (max-width: 1023px) {
    .small-promo {
      display: flex;
      align-items: center;
      padding-top: 0.675rem;
      padding-right: 10px;
      padding-bottom: 0.15rem;
      padding-left: 10px;
    }
  }
  @media screen and (min-width: 1024px) {
    .small-promo {
      align-items: center;
      justify-content: flex-start;
      width: auto;
    }
  }

  /*small promo icon*/
  .small-promo-icon {
    flex-shrink: 0;
    height: 1rem;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .small-promo-icon-svg {
    width: auto;
    height: 100%;
    max-width: 3.75rem;
    max-height: 3.75rem;
  }
  .small-promo-icon-img {
    height: 100%;
  }
  @media screen and (min-width: 1024px) {
    .small-promo-icon {
      width: auto;
      height: 1.75rem;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .small-promo-icon-svg {
      width: 1rem;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .small-promo-icon-custom {
      width: auto;
    }
  }

  /*small promo content*/
  @media screen and (max-width: 1023px) {
    .small-promo-content-desktop,
  .small-promo-content-mobile {
      font-size: var(--font-size-body-smaller);
      display: inline;
    }
    .small-promo-content-desktop-p,
  .small-promo-content-mobile-p {
      display: inline;
    }
  }
  
  .small-promo-content-link {
    text-decoration: none;
  }
  
  .small-promo-content-heading {
    display: inline;
    margin: 0;
    font-weight: 700;
  }
  @media screen and (min-width: 1024px) {
    .small-promo-content-heading {
      display: block;
      font-size: var(--font-size-heading-body-smaller);
    }
  }
  
  .small-promo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.3;
  }
  @media screen and (min-width: 1024px) {
    .small-promo-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 200px;
    }
  }
  .small-promo-content-p {
    margin: 0;
  }
  .small-promo-content-a {
    position: relative;
    z-index: 1;
    font-size: inherit;
    color: inherit;
  }
  
  .small-promo-content-desktop {
    display: inline;
  }
  @media screen and (min-width: 1024px) {
    .small-promo-content-desktop {
      display: block;
    }
  }
  @media screen and (max-width: 1023px) {
    .small-promo-content-mobile + .small-promo-content-desktop {
      display: none;
    }
  }
  
  .small-promo-content-mobile {
    margin-left: 0.46875rem;
  }
  @media screen and (min-width: 1024px) {
    .small-promo-content-mobile {
      display: none;
    }
  }

  
  /*-------------------*/
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: #f8f8f8;
    height: 40px;
    padding: 0 700px;
    margin-top: 10px;
  }

  

  
  /*third nav bar*/
  .navmenu__navmenu-depth-1__list-menus{
    width: 1200px;
  }

  /*ladder system for menu*/
  li.ets_mm_menu_item_li.menu-item > .menu-item-link,
.ets_mm_search button.ets_mm_submit_search,
.ets_mm_menu_cart .ets_mm_cart_link {
    line-height: 40px;
    min-height: 40px;
}

.ets_mm_menu_item_li li.tab-item {
    border-bottom: 1px solid #cccccc;
}

.ets_megamenu,
.ets_megamenu.sticky-menu.sticky_fixed {
  background-color: #ffffff;
}

.ets_mm_menu_item_li .menu-item-link {
    font-family: Montserrat, sans-serif;
    line-height: 40px;
    font-size: 14px;
}

.ets_mm_menu_item_li .menu-item-header-title {
    color: #000000;
    fill: #000000;
}

@media (max-width: 767px) {
    .ets_megamenu.mm-mobile .menu-item.has_subs .btn-toggle-item:after {
        border-top-color: #000000;
        border-right-color: #000000;
    }
}

.ets_mm_menu_item_li .menu-item-link > .main-menu-item-text:after {
    border-color: #000000;
}

.menu-item.open .menu-item-header-title {
    color: #ffffff;
    fill: #ffffff;
    background-color: #4a90e2;
}

.main-menu-item-background-active .menu-item.open .menu-item-header-title:before {
    background-color: #4a90e2;
}

.menu-item.open .menu-item-header-title .main-menu-item-text:after,
.ets_mm_menu_item_li.menu-item.open .menu-item-link + .btn-toggle-item:after {
    border-color: #ffffff;
}

.ets_mm_menu_item_li .tab-item > .ets-mm-tab-item-link {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #222222;
    fill: #222222;
    background-color: #ffffff;
}

.ets_mm_menu_item_li .tab-item.has-sub > .ets-mm-tab-item-link > .tab-menu-item-text:before,
.ets_mm_menu_item_li .tab-item.has-sub > .ets-mm-tab-item-link + .btn-toggle-item:after {
    border-color: #222222;
}

.ets_mm_menu_item_li .tab-item > .ets-mm-tab-item-link:hover,
.ets_mm_menu_item_li .tab-item:hover > .ets-mm-tab-item-link,
.ets_mm_menu_item_li .tab-item.open > .ets-mm-tab-item-link {
    color: #ffffff;
    fill: #ffffff;
    background-color: #4a90e2;
}

.ets_mm_menu_item_li .tab-item:hover > .btn-toggle-item:hover,
.ets_mm_menu_item_li .tab-item.open > .btn-toggle-item {
    color: #ffffff;
    fill: #ffffff;
}

.ets_mm_menu_item_li .tab-item > .ets-mm-tab-item-link:hover > .tab-menu-item-text:before,
.ets_mm_menu_item_li .tab-item.open > .ets-mm-tab-item-link > .tab-menu-item-text:before,
.ets_mm_menu_item_li .tab-item.open > .ets-mm-tab-item-link + .btn-toggle-item:after {
    border-color: #ffffff;
}

.ets_megamenu .submenu-item-heading {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    color: #222222;
}

.ets_megamenu .submenu-item-heading:hover {
    background-color: #cccccc;
}

.ets_megamenu .submenu-item-content,
.ets_megamenu .submenu-item-content div,
.ets_megamenu .submenu-item-content span,
.ets_megamenu .submenu-item-content p{
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #000000;
}

.ets_megamenu .submenu-item-content a:hover{
  color: #4a90e2;
}

.ets_mm_menu_item_li .block-product-item .product-title{
  font-family: Montserrat;
  font-size: 13px;
}

.ets_mm_menu_item_li .block-product-item .product-title :hover{
  background-color: #cccccc;

}

.ets_mm_menu_item_li .block-product-item .product-price .price-compare,
.ets_mm_menu_item_li .block-product-item .product-price .price-sell{
  font-family: Montserrat;
}

.ets_mm_menu_item_li .block-product-item .product-price .price-compare{
  font-size: 13px;
}

.ets_mm_menu_item_li .block-product-item .product-price .price-sell{
  font-size: 13px;
}

.ets_mm_menu_item_li .block-contact-form button.btn.btn-primary:hover{
  background-color: #cccccc;
}

/*Products section*/
.list-tabs{
  margin: 0px auto 0px -25px;
  width: 1200px;
  max-width: 100vw;
}

.tab-item__js-ets-mm-tab-item-hover-open__arrow-item__has-sub{
  width: 250px;
}


/* products > comic books > comic books*/
.list-columns__tab-columns__from-top{
  width: calc(100% - 250px);
  left: 250px;
  min-height: 0px;
}

#ets-mm-block-116538 .block-content *{

}

/* products > comic books > Popular Character*/
#ets-mm-block-370963 .block-content *{

}

/* products> comic book > (cont.)*/
#ets-mm-block-164330 .block-content *{

}

/* products > Graphic novel*/
.tab-item__js-ets-mm-tab-item-hover-open__arrow-item__has-sub{
  width: 250px;
}

/*products > graphic novel > graphic novel*/
.list-columns__tab-columns__from-top{
  width: calc(100%-250px);
  left: 250px;
  min-height: 0px;
}

#ets-mm-block-968311 .block-content *{

}

/*products > graphic novels > genre*/
#ets-mm-block-732146 .block-content *{

}

/* Products > Graphic Novels > Genre (cont.) */
#ets-mm-block-382698 .block-content *{

}

/*Products > Graphic Novels > Young Reader*/
#ets-mm-block-446878 .block-content *{

}


/*Products > Graphic Novels > Young Adult*/
#ets-mm-block-146994 .block-content *{

} 

/*Products > Graphic Novels > Publisher*/
#ets-mm-block-631162 .block-content *{

}

/*Products > Book*/
.tab-item__js-ets-mm-tab-item-hover-open__arrow-item__has-sub{
  width: 250px;
}

.list-columns__tab-columns__from-top{
  width: calc(100%-250px);
  left: 250px;
  min-height: 0px;
}

/*Products > Books > Megazines*/
#ets-mm-block-746812 .block-content *{

}

/*Products > Books > Books*/
#ets-mm-block-712139 .block-content *{

}

/*Products > Manga*/
.tab-item__js-ets-mm-tab-item-hover-open__arrow-item__has-sub{
  width: 250px;
}

.list-columns__tab-columns__from-top{
  width: calc(100%-250px);
  left: 250px;
  min-height: 0px;
}

/*Products > Manga > Manga*/
#ets-mm-block-921627 .block-content *{

}

/*Products > Manga > Publishers*/
#ets-mm-block-555010 .block-content *{

}

/*Products > Manga > Clearance*/
#ets-mm-block-4993 .block-content *{
  
}

/*SALE section*/
.list-columns{
  margin: 0px auto 0px -25px;
  width:1200px ;
  max-width: 100vw;
}

/*SALE > Sale by Month*/
#ets-mm-block-679404 .block-content *{

}

/*SALE > Sale by Category*/
#ets-mm-block-219298 .block-content *{

}

/**/
.ets_mm_height_sticky{
  height: 0px;
}

  /* Main styles */
  main {
    padding: 20px;
  }
  /*Categories header*/
  #categories {
    margin-bottom: 20px;
  }

  #categories h2{
    margin: 10px;
    text-align: center;
  }
  /*section 1 and 2 */
  .category {
    margin-bottom: 20px;
  }
  
  .category h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .category ul {
    list-style-type: none;
  }
  
  .category ul li {
    margin-bottom: 5px;
  }
  
  .category ul li a {
    color: #333;
    text-decoration: none;
  }
  /*Feature video*/
  #rich-media {
    margin-bottom: 20px;
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  footer nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  
  footer nav ul li {
    margin-right: 10px;
  }
  
  footer nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  /*all*/
  article, aside, footer, header, nav, section{
    display: block;
  }

  

  *{
    -webkit-font-smoothing: antialiased ;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  .site-navigation-wrapper::before, .spr-content .spr-reviews::before, .productgrid-footer::before, .productgrid-outer::before, .account-page-two-column::before, .article-pagination::before, .site-header-main::before, .form-fields-columns::before, .site-navigation-wrapper::after, .spr-content .spr-reviews::after, .productgrid-footer::after, .productgrid-outer::after, .account-page-two-column::after, .article-pagination::after, .site-header-main::after, .form-fields-columns::after {
    display: table;
    content: "";
  }

  @media screen and (min-width: 1024px) {
    .dynamic-video-wrapper, .navmenu-meganav-wrapper, .site-navigation, .product-section-container, .product-row-container, .productgrid-outer, .pagination-container, .page-content, .page-masthead, .message-banner-outer, .breadcrumbs-container, .atc-banner-outer, .contact-page-content, .account-page-content, .account-page-masthead, .pxs-image-with-text-section, .pxs-newsletter-section, .pxs-map-section, .testimonials-section, .twitter-container, .slideshow-width-content, .shoppable-image, .rich-text-container, .promo-mosaic-container, .promo-grid-container, .page_container, .menulist-container, .logolist-container, .image-with-text, .custom-html-container,
  .custom-liquid-container, .highlights-banner_content, .highlights-banner_container.content-width, .featured-product-container, .featured-collection_container, .collection-list_container, .blogposts-container, .subcollections-banner_container, .subcollections_container, .subcollections-featured-collection_header, .utility-bar_content, .blog-container, .product-compare-container, .product-container, .password-page-footer, .password-page-content-inner, .cart-section, .article-container, .article-image-content-width, .announcement-bar-text-mobile, .announcement-bar-text, .fourohfour-container, .site-footer-item, .site-header-main {
      --layout-container-gutter: 25px;
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  @media screen and (min-width: 720px) {
    .dynamic-video-wrapper, .navmenu-meganav-wrapper, .site-navigation, .product-section-container, .product-row-container, .productgrid-outer, .pagination-container, .page-content, .page-masthead, .message-banner-outer, .breadcrumbs-container, .atc-banner-outer, .contact-page-content, .account-page-content, .account-page-masthead, .pxs-image-with-text-section, .pxs-newsletter-section, .pxs-map-section, .testimonials-section, .twitter-container, .slideshow-width-content, .shoppable-image, .rich-text-container, .promo-mosaic-container, .promo-grid-container, .page_container, .menulist-container, .logolist-container, .image-with-text, .custom-html-container,
  .custom-liquid-container, .highlights-banner_content, .highlights-banner_container.content-width, .featured-product-container, .featured-collection_container, .collection-list_container, .blogposts-container, .subcollections-banner_container, .subcollections_container, .subcollections-featured-collection_header, .utility-bar_content, .blog-container, .product-compare-container, .product-container, .password-page-footer, .password-page-content-inner, .cart-section, .article-container, .article-image-content-width, .announcement-bar-text-mobile, .announcement-bar-text, .fourohfour-container, .site-footer-item, .site-header-main {
      --layout-container-gutter: 15px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .dynamic-video-wrapper, .navmenu-meganav-wrapper, .site-navigation, .product-section-container, .product-row-container, .productgrid-outer, .pagination-container, .page-content, .page-masthead, .message-banner-outer, .breadcrumbs-container, .atc-banner-outer, .contact-page-content, .account-page-content, .account-page-masthead, .pxs-image-with-text-section, .pxs-newsletter-section, .pxs-map-section, .testimonials-section, .twitter-container, .slideshow-width-content, .shoppable-image, .rich-text-container, .promo-mosaic-container, .promo-grid-container, .page_container, .menulist-container, .logolist-container, .image-with-text, .custom-html-container,
.custom-liquid-container, .highlights-banner_content, .highlights-banner_container.content-width, .featured-product-container, .featured-collection_container, .collection-list_container, .blogposts-container, .subcollections-banner_container, .subcollections_container, .subcollections-featured-collection_header, .utility-bar_content, .blog-container, .product-compare-container, .product-container, .password-page-footer, .password-page-content-inner, .cart-section, .article-container, .article-image-content-width, .announcement-bar-text-mobile, .announcement-bar-text, .fourohfour-container, .site-footer-item, .site-header-main {
  --layout-container-max-width: 1200px;
  --layout-container-gutter: 10px;
  max-width: var(--layout-container-max-width);
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.site-navigation-wrapper::after, .spr-content .spr-reviews::after, .productgrid-footer::after, .productgrid-outer::after, .account-page-two-column::after, .article-pagination::after, .site-header-main::after, .form-fields-columns::after {
  clear: both;
}

  /*embed*/
  section::after{
    content: "";
    display: table;
    clear: both;
  }

  *{
    box-sizing: border-box;
  }

  *, *::before, *::after {
  box-sizing: inherit;
}


/*Forms*/
